<!-- ejemplo.ejs -->

<!--nodo raiz-->
<!--lengujes de marcado se debe abrir y cerrar nodos-->
<!--colocar contenido o text en la etiqueta tambien se tiene atribuo o propiedades-->
<!--dentro de html tenmos el body y la cabecera-->

<html>
<!-- comentario -->
<!-- configuraciones METADATOS -->
<!-- CSS -->

<link rel="stylesheet"
      href="/css/estilos-generales.css">
<head>

</head>
<body>
<!-- coNTENIDO HTML -->
<!-- SCRIPT -->
<script
    src="/js/logica-general.js">

</script>
<p>hola <%= nombre%>!</p>
</body>

</html>
