<%- include('../compartido/estilosgenerales/estilos-generales')%>
<%- include('../compartido/menu/menu-component')%>

<h1>CREAR USUARIO!!!</h1>
<form action="/usuario/crearDeseVista"method="POST">
  <!--  <label for="query">Consulta:</label>
    <input id="query"type="text"name="q"> -->
    <label for="nombreID">Nombre:</label>
    <input id="nombreID" type="text" name="nombre">
    <br>
    <label for="apellidoID">Apellido:</label>
    <input id="apellidoID" type="text" name="apellido">
    <br>
    <label for="cedulaID">Cedula:</label>
    <input id="cedulaID" type="text" name="cedula">
    <br>
    <button type="submit">SUBMIT</button>
    <button type="reset">RESET</button>
    <button type="button">BUTTON</button>

</form>

<%- include('../compartido/funcionalidad-general/funcionalidad-general-commponent')%>