<link rel="stylesheet" href="/css/login.css">
<body>

<form action="/carta/login" method="POST">
    <h2>Login</h2>
    <label for="usuarioId">Usuario</label>
    <input id="usuarioId"
           type="text"
           name="usuario">
    <label for="passwordId">Password</label>
    <input id="passwordId"
           type="password"
           name="password">
    <button class="botons" type="submit">Logearse</button>
</form>
</body>